click==6.7
Flask==1.0.2
Flask_Bcrypt==0.7.1
Flask_Login==0.4.1
Flask_OpenID==1.2.5
Flask_SQLAlchemy==2.3.2
Flask_WTF==0.14.2
itsdangerous==0.24
pytest==3.8.0
pytz==2018.5
requests==2.20.1
WTForms==2.2.1
