
<form method="post" action="/settings">
  {{ add_email_form.hidden_tag() }}

  <div class="form-group">
    {% set form_class = "form-control is-invalid" if add_email_form.email.errors else "form-control" %}
    <label for="email">Add Email Address</label>
    <div>
      {{ add_email_form.email(class=form_class, placeholder="Email", required=True) }}
      {% if add_email_form.email.errors %}
         <div class="invalid-feedback">
            {% for error in add_email_form.email.errors %}
                  {{ error }}
            {% endfor %}
          </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <div>
      {{ add_email_form.submit(class="btn btn-success") }}
    </div>
  </div>
</form>
