
<form method="post" action="/settings">
  {{ pw_form.hidden_tag() }}

  <div class="form-group">
    {% set form_class = "form-control is-invalid" if pw_form.current_password.errors else "form-control" %}
    {{ pw_form.current_password.label() }}
    <div>
      {{ pw_form.current_password(class=form_class, placeholder="Current Password", required=True) }}
      {% if pw_form.current_password.errors %}
      <div class="invalid-feedback">
        {% for error in pw_form.current_password.errors %}
        {{ error }}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    {% set form_class = "form-control is-invalid" if pw_form.password.errors else "form-control" %}
    {{ pw_form.password.label() }}
    <div>
      {{ pw_form.password(class=form_class, placeholder="New Password", required=True) }}
      {% if pw_form.password.errors %}
      <div class="invalid-feedback">
        {% for error in pw_form.password.errors %}
        {{ error }}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    {% set form_class = "form-control is-invalid" if pw_form.password2.errors else "form-control" %}
    {{ pw_form.password2.label() }}
    <div>
      {{ pw_form.password2(class=form_class, placeholder="Confirm New Password", required=True) }}
      {% if pw_form.password2.errors %}
      <div class="invalid-feedback">
        {% for error in pw_form.password2.errors %}
        {{ error }}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <div>
      {{ pw_form.submit(class="btn btn-success") }}
    </div>
  </div>
</form>
