
<div class="card">
  <div class="card-header">
    Forgot Password
  </div>
  <div class="card-body">

    <strong>Enter your email address and we will send you a link to reset your password.</strong>
    <p></p>

    <form method="POST" action="/forgot_password">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {% set form_class = "form-control is-invalid" if form.email.errors else "form-control" %}
        <div>
          {{ form.email(class=form_class, placeholder="Email", required=True) }}
          {% if form.email.errors %}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            {{ error }}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        <div>
          {{ form.submit(class="btn btn-success") }}
        </div>
      </div>
    </form>


  </div>

</div>
