
<form method="post" action="/register">
  {{ form.hidden_tag() }}

  <div class="form-group">
    {% set form_class = "form-control is-invalid" if form.email.errors else "form-control" %}
    {{ form.email.label() }}
    <div>
      {{ form.email(class=form_class, placeholder="Email", required=True) }}
      {% if form.email.errors %}
      <div class="invalid-feedback">
        {% for error in form.email.errors %}
        {{ error }}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    {% set form_class = "form-control is-invalid" if form.password.errors else "form-control" %}
    {{ form.password.label() }}
    <div>
      {{ form.password(class=form_class, placeholder="Password", required=True) }}
      {% if form.password.errors %}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
        {{ error }}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    {% set form_class = "form-control is-invalid" if form.password2.errors else "form-control" %}
    {{ form.password2.label() }}
    <div>
      {{ form.password2(class=form_class, placeholder="Confirm Password", required=True) }}
      {% if form.password2.errors %}
      <div class="invalid-feedback">
        {% for error in form.password2.errors %}
        {{ error }}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="form-group">
    <div>
      {{ form.submit(class="btn btn-success") }}
    </div>
  </div>
</form>
