<div class="modal" id="trackModal" tabindex="-1" role="dialog" aria-labelledby="AddModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content track-untrack-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="trackModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea placeholder="Add optional note" rows="4" id="track-note"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="track-modal-btn">Track</button>
      </div>
    </div>
  </div>
</div>