@import "~bootstrap/scss/bootstrap";

// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px; /* Margin bottom by footer height */
}

.footer {
  @extend .bg-dark;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: white;
  font-size: 0.9rem;
  margin-top: 15px;
}

.footer-links {
  list-style: none;
  float: right;
  margin: 0;
}

.footer-links > li {
  float: left;
  display: inline-block;
  padding-right: 10px;
}

.footer-copyright {
  @extend .text-white;
  display: inline-block;
  margin: 0;
}

.navbar {
  margin-bottom: 20px;
}

.search-box {
  @extend .border;
  @extend .border-info;
  @extend .jumbotron;
  padding: 40px 25px 40px 25px;
}

.search-box textarea {
  @extend .border;
  @extend .border-info;
}

.search-track-buttons .btn {
  padding-top: 0;
  padding-bottom: 0;
}

.steam-profile-table {
  td {
    border: 0;
  }
}

.steam-profile-table td:nth-child(1) {
  text-align: right;
}

.steam-profile-table td:nth-child(2) {
  font-weight: bold;
}

.steam-profile-table-ids {
  margin-left: 20px;
}

.steam-profile-table-bans {
  margin-right: 25px;
}

.tracking-note {
  min-width: 100%;
}
