{% macro track_untrack(profile, tracking=None) %}
  {% set profile_attrs %}
    data-steamid="{{ profile.steamid }}"
    data-personaname="{{ profile.personaname }}"
    data-note="{{ '' if not tracking else tracking.note }}"
  {% endset %}

  {% set track_dsp = 'd-none' if tracking else '' %}
  {% set untrack_dsp = 'd-none' if not tracking else '' %}

  <div {{ profile_attrs }}>
    <button type="button" class="btn btn-success btn-sm track-button {{ track_dsp }}">Track</button>
    <button type="button" class="btn btn-danger btn-sm untrack-button {{ untrack_dsp }}">Untrack</button>
  </div>
{% endmacro %}