{% extends 'base.j2' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xl-8 col-lg-9">

        {% include 'snippets/search_box.j2' %}

    </div>

    {% if not current_user.is_authenticated %}
    <div class="col-xl-4 col-lg-5 col-md-7">
        {% include 'snippets/login_form.j2' %}
    </div>
    {% endif %}


</div>


{% endblock content %}
