{% extends 'base.j2' %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="row">
    <div class="col"></div>
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">

    <div class="card">
        <div class="card-body">
            {% include 'snippets/login_form.j2' %}
        </div>
        <div class="card-header text-center">
            <a href="/register">Register for an Account</a>
        </div>
        <div class="card-header text-center">
            <a href="/login/steam">
            <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" />
            </a>
        </div>
    </div>

    </div>
    <div class="col"></div>
</div>

{% endblock content %}
