{% extends 'base.j2' %}

{% block title %}Profile{% endblock title %}

{% block content %}

{% import 'macros/data_attrs.j2' as data_attrs_macro %}

{% macro bool_fmt(value) %}
{% if value %}
<span class="text-danger">{{ value }}</span>
{% else %}
<span class="text-success">{{ value }}</span>
{% endif %}
{% endmacro %}

{% macro print_timecreated(dt) %}
{% if dt %}
{{ dt | pretty_date }}
{% else %}
Unknown
{% endif %}
{% endmacro %}

{% set profile_attrs %}
{{ data_attrs_macro.profile_data_attrs(profile) }}
{% endset %}



<div class="row">
  <div class="col-lg-8">
    <h3>Steam Profile</h3>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-lg-9">

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ profile.personaname }}</h3>
        <p><a href="{{ profile.steamurl }}" target="_blank">{{ profile.steamurl }}</a></p>
        <p></p>

        <div class="row">

          <div class="col-xs-5">
            <table class="table table-sm steam-profile-table steam-profile-table-ids">
              <tbody>
                <tr>
                  <td>Steam Name</td>
                  <td>{{ profile.personaname }}</td>
                </tr>
                <tr>
                  <td>SteamID</td>
                  <td>{{ profile.steamid_ }}</td>
                </tr>
                <tr>
                  <td>SteamID64</td>
                  <td>{{ profile.steamid }}</td>
                </tr>
                <tr>
                  <td>SteamID3</td>
                  <td>{{ profile.steamid3 }}</td>
                </tr>
                <tr>
                  <td>Created</td>
                  <td>{{ print_timecreated(profile.timecreated) }}</td>
                </tr>
                {% if profile.vanityurl %}
                <tr>
                  <td>Vanity URL</td>
                  <td>{{ profile.vanityurl }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>


          <div class="col-xs-5">
            <table class="table table-sm steam-profile-table steam-profile-table-bans">
              <tbody>
                <tr>
                  <td>VAC Ban</td>
                  <td>{{ bool_fmt(profile.vac_banned) }}</td>
                </tr>
                <tr>
                  <td>Community Ban</td>
                  <td>{{ bool_fmt(profile.community_banned) }}</td>
                </tr>
                <tr>
                  <td>Economy Ban</td>
                  <td>{{ profile.economy_ban }}</td>
                </tr>
                <tr>
                  <td>Number of Game Bans</td>
                  <td>{{ profile.num_game_bans }}</td>
                </tr>
                <tr>
                  <td>Number of VAC Bans</td>
                  <td>{{ profile.num_vac_bans }}</td>
                </tr>
                {% if profile.vac_banned %}
                <tr>
                  <td>Days Since Last Ban</td>
                  <td>{{ profile.days_since_last_ban }}</td>
                </tr>
                {% endif %}

              </tbody>
            </table>
          </div>
        </div>

        {% if tracking %}
          <button {{ profile_attrs }} class="btn btn-danger untrack-button-profile">Untrack Profile</button>
        {% endif %}
      </div>
    </div>

  </div>

  {% if not tracking %}
  <div class="col-lg-3">
    <div class="card">
      <div class="card-header">
        Track
      </div>
      <div class="card-body">
        <p class="card-text">Track this profile in order to get notifications about future bans.</p>

          <div class="form-group">
            <textarea class="tracking-note" name="note" rows=5 placeholder="Optional note to attach"></textarea>
          </div>
          <div class="form-group text-center">
            <button {{ profile_attrs }} class="btn btn-lg btn-success track-button-profile" type="submit">Track</button>
          </div>

      </div>
    </div>
  </div>
  {% endif %}


</div>

  {% if tracking %}
  <div class="row">
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header">
          Tracking Information
        </div>
        <div class="card-body">
          <p class="card-text">You are currently tracking this profile.</p>
          <ul>
            <li>{{ tracking.x_personaname }}</li>
            <li>{{ tracking.x_vac_banned }}</li>
            <li>{{ tracking.x_days_since_last_ban }}</li>
            <li>{{ tracking.x_num_game_bans }}</li>
            <li>{{ tracking.x_economy_ban }}</li>
            <li>{{ tracking.x_community_banned }}</li>
          </ul>
          <p class="card-text">You started tracking on {{ tracking.timetracked | pretty_date }}.</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


</div>

{% endblock content %}
