{% extends 'base.j2' %}

{% block title %}Settings{% endblock title %}

{% block content %}

{% set steam_user = current_user.steam_user %}

<div class="row">
  <div class="col">
    <h3>Settings</h3>
  </div>
</div>


<div class="row">
  <div class="col-lg-5 col-md-6">



    {% set email_verified_label %}
    {% if current_user.verified %}
    <span class="badge badge-success">Verified</span>
    {% else %}
    <span class="badge badge-danger">Unverified</span>
    {% endif %}
    {% endset %}



    {% if steam_user and current_user.email is none %}
    <div class="card">
      <div class="card-header">
        Account Information
      </div>
      <div class="card-body">
        <p>You do not currently do not have an email address associated with your account.</p>
        {% include 'snippets/add_email_form.j2' %}
      </div>
    </div>
    {% endif %}


    {% if current_user.email is not none %}
    <div class="card">
      <div class="card-header">
        Account Information
      </div>
      <div class="card-body">
        <p><strong>{{ current_user.email }}</strong>{{ email_verified_label }}</p>
        {% if not current_user.verified %}
        <p>Your email address is not verified. Please click on the verification link we sent you. To send a new verification email <a href="/resend">click here</a>.</p>
        {% endif %}
      </div>
    </div>
    {% endif %}



  </div>

  <div class="col-lg-4 col-md-6">
    {% if not current_user.steam_user %}
    <div class="card">
      <div class="card-header">
        Change Password
      </div>
      <div class="card-body">
        {% include 'snippets/change_password_form.j2' %}
      </div>
    </div>
    {% endif %}


    {% if current_user.email %}
    <div class="card">
      <div class="card-header">
        Change Email
      </div>
      <div class="card-body">
        {% include 'snippets/change_email_form.j2' %}
      </div>
    </div>
    {% endif %}




  </div>
  <div class="col-lg-3"></div>
</div>


{% endblock content %}
