{% extends 'base.j2' %}

{% block title %}Tracking{% endblock title %}

{% block content %}



<div class="row">
  <div class="col-lg-8">
    <h3>Tracking</h3>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-lg-9">

  </div>
</div>

{% endblock content %}
