{% extends 'base.j2' %}

{% block title %}Tracking{% endblock title %}

{% block content %}

{% import 'macros/profile_utils.j2' as macros %}
{% set pretty_bool = macros.pretty_bool %}


<div class="row">
  <div class="col-lg-8">
    <h3>Tracking</h3>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-lg-9">

    <table class="table table-hover table-sm table-responsive-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><a href="{{ sort_urls['name'] }}">Name</a></th>
          <th scope="col">Steamid</th>
          <th scope="col"><a href="{{ sort_urls['vac'] }}">VAC Ban</a></th>
          <th scope="col"><a href="{{ sort_urls['date'] }}">Date</a></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        {% for t in tracking %}
        <tr>
          <th>{{ loop.index }}</th>
          <td><a href="{{ url_for('profile.profile_view', steamid=t.profile.steamid) }}">{{ t.profile.personaname }}</a></td>
          <td>{{ t.profile.steamid }}</td>
          <td>{{ pretty_bool(t.profile.vac_banned) }}</td>
          <td>{{ t.timetracked | pretty_date }}</td>
          <td class="tracking-track-buttons">
          {{ macros.track_untrack(t.profile, True) }}
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

  </div>
</div>

{% endblock content %}

{% include 'snippets/track_modal.j2' %}
{% include 'snippets/untrack_modal.j2' %}
